@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    @apply relative p-1 mb-8 overflow-hidden bg-indigo-200 rounded-sm sm:p-2;
}

.header-text {
    @apply mb-1 text-lg font-bold text-gray-800 md:text-xl;
}

button {
    @apply focus:outline-none;
}

.border-bottom-bold {
    border-bottom: solid 2px #000;
}

.border-bottom-solid {
    border-bottom: solid 1px #000;
}

.border-right-solid {
    border-right: solid 1px #000;
}

.border-left-solid {
    border-left: solid 1px #000;
}

.border-bottom-dashed {
    border-bottom: dashed 1px #000;
}

.margin-top {
    margin-top: 16px;
}

.text-form {
    height: 3.5rem;
}

.text-form-half {
    height: 1.75rem;
}

.circle {
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}

@font-face {
    font-family: ipag;
    font-style: normal;
    font-weight: normal;
    src: url("/public/storage/fonts/ipag.ttf");
}

@font-face {
    font-family: ipag;
    font-style: bold;
    font-weight: bold;
    src: url("/public/storage/fonts/ipag.ttf");
}

body {
    font-family: ipag !important;
    width: 90%;
    margin: 0 auto;
}

* {
    @apply focus:outline-none;
}
